.user {
    -webkit-box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75);
    padding: 5px;
    margin: 5px 0px;

    display: flex;
    align-items: center;
    border-radius: 10px;
    background: var(--clr-primary);

    img {
        flex: 1;
        height: 60px;
        border-radius: 50%;
        cursor: pointer;
    }

    .user-info {
        flex: 6;
        margin: 15px 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;

        .gender {
            font-style: italic;
        }
    }

    .user-favorite {
        flex: 1;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: yellow;

        .user-favorite-icon{
            cursor: pointer;
        }
    }
}